---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About Me</h1>
        <h2>This is my first blog. Proudly built with Astro!</h2>
        <h2>I am super stoked to set up and build my first blog</h2>
        <h2>This blog is under construction as I learn the in and outs of the framework (astro) and keep thinking about the posts that I'd like to add</h2>
        <h2>Cheers!</h2>
	</body>
</html>